body {
  box-sizing: border-box;
}

.articles {
  margin: 40px auto;
  max-width: 1400px;
  column-count: 3;
  justify-items: center;
}

.box {
  display: block;
  width: 400px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.box-title {
  break-inside: avoid-column;
  break-after: avoid-column;
}

.box-title h3 {
  margin: 0;
  margin-bottom: 15px;
  break-inside: avoid-column;
  break-after: avoid-column;
}

.text {
  break-inside: avoid-column;
  break-after: avoid-column;
}

img {
  width: 400px;

  break-after: avoid-column;
}

.box-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-height: 500px;
  overflow: hidden;
  break-after: avoid-column;
}

.box-category {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.box-category:hover {
  background-color: #fca311;
  color: #000;
}

.under-article-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-title a {
  text-decoration: none;
  color: #000;
  break-after: avoid-column;
}

.box a {
  text-decoration: none;
  font-weight: 500;
  color: #283618;
  break-after: avoid-column;
}

.box-title a:active {
  color: #000;
}

.box-timestamp-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 10px 0;
  break-after: avoid-column;
}

.alert {
  margin: 20px auto;
  max-width: 80rem;
  text-align: center;
  padding: 10px;
  background-color: #25a103;
  color: #ffffff;
  border: 1px solid #25a103;
  border-radius: 5px;
}

.pagination-wrapper {
  margin: 20px auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-not-found {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 10rem auto;
}

.user-logged-out {
  height: 30rem;
}

.edit-delete-buttons {
  display: flex;
  break-inside: avoid-column;
}

.edit-delete-buttons > div {
  margin-left: 10px;
}

.search-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 5px;
  background-color: rgba(204, 204, 204, 0.284);
}

.filter {
  margin-right: 10px;
}

.filter input {
  padding: 8px;
  border-radius: 0;
  border: 1px solid #ccc;
}

.filter button {
  padding: 9px 15px;
  border-radius: 0;
  border: 0;
  background-color: #588157;
  margin-right: 18rem;
}

.filter button:hover {
  background-color: #4d6f4e;
  cursor: pointer;
}

.category-input select {
  margin-right: 2rem;
  padding: 7px;
}

.category button:active {
  background-color: #8db28e56;
  transform: translateX(4px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .table {
  margin: 5rem 0;
  text-align: center;
  width: 60%;
}

.table-row {
  margin: 5px;
}
